html {
    height: 100%;
    width: 100%;
  }
body {
        font-family: sans-serif;
        background-image:linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3))
        ,url(FondoOscuro2.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;/*posicion fija en pantalla*/
  }
  .header {
    position: relative;
    width: 100%;
    height: 8%;
    text-shadow: 20px 10px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Russo One', sans-serif;
    font-size: 300%;
    text-align: center;
    color: #ffffff;
    margin-top: 3%;
    background-color: #7292e4;   
  }
  h1{
    text-align:center;
    color: #f9fafa;
    font-size: 30px;
    margin-top: 3%;
    } 
figure{
    position: absolute;
    top:  20px;
    left: 50px;
  }

.parrafo1 {
    display: flex;
    color: #FFFFFF;
    text-align:justify;
    font-family: 'roboto', sans-serif;
    font-style: italic;
    font-size: 20px;
    width: 60%;
    margin-left: 15%;
    line-height:2.5ch;    
  } 
   #mensaje {
    display: flex;
    color: #FFFFFF;
    text-align: center;
    font-family: monospace;
    font-style: italic;
    font-size: 20px;     
  }
  .mensaje {
    color: #FFFFFF;
    text-align: center;
    font-family: monospace;
    font-style: italic;
    font-size: 20px;    
    }
  .botonindex {
    padding: 10px 20px;
    background:whitesmoke;
    color: black;
    border-radius: 25px;  
    margin-top: 4%;
}
.botonindex:active {
  position: relative;
  top: 5px;
  color: rgb(250, 250, 250);
  background:#7292e4;
}
footer {
  background-color: #0d47a1;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.string
  {
  border-radius: 15px;
  width: 400px;
  padding: 15px;  
  border-color: #97d9e1;
  }  
.offset
  {
  border-radius: 15px;
  width: 400px;
  padding: 15px;  
  border-color: #97d9e1;
  }
.input{
    border-radius: 15px;
    width: 400px;
    padding: 15px;  
    border-color: #97d9e1;
  }
